div.textbox{
  border: 1px black solid;
  padding-left: 3px;
}

div.label{
  float: right;
}

.row {
  margin-top: 10px;
}

.textbox.address,
.textbox.long-description{
  height: 80px;
}

.load-items .container.seller-info{
  margin-top: 30px;
}

table.reviews-result td,
table.reviews-result tr
{
  border: 1px grey solid !important;
  text-align: center
}

table.reviews-result th{
  border: 1px grey solid !important;
  text-align: center;
  background-color: lightgrey
}

.reviews-result-dialog {
  max-width: 60% !important;
}

.reviews-result-dialog .container.seller-info{
  padding: 0;
}

.item-details .header {

  margin: 10px;
  /* font-size: 20px; */
}

.item-details > .segment {
  border: black solid 1px;
  border-radius: 10px;
  margin: 10px;
}

.item-details .status-label {
  margin-left: 30px;
}

.item-details .no-header .tabulator-header {
  height: 0;
}

.item-details .tabulator-table {
  overflow: auto;
}

.item-details .images-table .tabulator-table .product-image{
  height: 200px;
  width: 200px;
}

.item-details .images-table .tabulator-table .tabulator-cell{
  height: 200px;
}

.item-details .item-url {
  overflow-wrap: break-word;
}

.long-description {
  overflow-wrap: break-word;
  white-space: pre-line;
  height: calc(100% - 20px);
  overflow-y: auto;
}

.item-details{
  display: grid;
  grid-template-columns: 70% 30%;
  height: calc(100% - 25px);
}

.item-details > .header{
  grid-column: 1/span 2;
  padding: 15px;
  margin: 0;
}

.item-details > .header > .container{
  max-width: none;
}

.item-details > .segment-description {
  overflow-y: auto;
}

.item-details > .segment-images {
  display: grid;
  overflow-y: hidden;
}

.item-details > .segment-images > *{
  overflow-y: hidden;
  margin: 10px;
}

.item-details > .segment-description > .description-container{
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto 1fr;
  height: 100%;
}

.item-details > .segment-description > .description-container > .descriptions-table-item{
  grid-row: 2/span 2;
  grid-column: 2;
}

.item-details > .segment-description > .description-container > .long-description-item{
  overflow-y: hidden;
}

.item-details > .segment-description > .description-container > *{
  margin: 10px;
}