div.textbox{
  border: 1px black solid;
}

div.label{
  float: right;
}

.row {
  margin-top: 10px;
}

div.textbox.address{
  height: 80px;
}

.load-items .container.seller-info{
  margin-top: 30px;
}

table.reviews-result td,
table.reviews-result tr
{
  border: 1px grey solid !important;
  text-align: center
}

table.reviews-result th{
  border: 1px grey solid !important;
  text-align: center;
  background-color: lightgrey
}

.reviews-result-dialog {
  max-width: 60% !important;
}

.reviews-result-dialog .container.seller-info{
  padding: 0;
}


.item-details .horizontal-container{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
}

.item-details .header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  /* font-size: 20px; */
}

.item-details.vertical-container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
}

.item-details .horizontal-container > .segment.grow.lg{
  flex-grow: 1.1;
}

.item-details .horizontal-container > .segment.grow.sm{
  flex-grow: 1;
}

.item-details .horizontal-container > .segment.lg{
  width: 70%;
}

.item-details .horizontal-container > .segment.sm{
  width: 30%;
}

.item-details .horizontal-container.grow{
  flex-grow: 1;
}

.item-details .horizontal-container > .segment {
  border: black solid 1px;
  border-radius: 10px;
  margin: 10px;
}

.item-details .status-label {
  margin-left: 30px;
}

.item-details .no-header .tabulator-header {
  height: 0;
}

.item-details .tabulator-table {
  overflow: auto;
}

.item-details .images-table .tabulator-table .product-image{
  height: 200px;
  width: 200px;
}

.item-details .images-table .tabulator-table .tabulator-cell{
  height: 200px;
}

.item-details .item-url {
  overflow-wrap: break-word;
}